

h1 {
    font-size: clamp(1.8rem, 15vw, 3rem);
    color: #333;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

body{
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-attachment: fixed;
    background: linear-gradient(135deg, #d1fae5, #ecfdf5);
}

.lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
}

.lists_member {
    background-color: #fff;
    grid-auto-rows: auto;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lists_member h2 {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    text-align: center;
    color: #555;
}

#links {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
}

#links p{
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
}

#links_name{
    text-align: center;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    color: #555;
}